@using TimeAgo

@model DesignBoard.Model.Item

<div class="panel panel-default">
    <div class="panel-heading">
        <strong><a href="@Model.html_url" target="_blank">@Model.title</a></strong>
    </div>
    <div class="panel-body @(Model.IsOld ? "old" : "") @(Model.IsInactive ? "inactive" : "")">
        <div>opened @Model.created_at.ToLocalTime().TimeAgo()</div>
        <div>updated @Model.updated_at.ToLocalTime().TimeAgo()</div>
    </div>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-md-4 text-left">
                @if (Model.assignee != null)
                {
                    <span>assigned to <strong>@@@Model.assignee.login</strong></span>
                }
                else
                {
                    <strong>unassigned</strong>
                }
            </div>
            <div class="col-md-4 text-center">
                @if (Model.milestone != null)
                {
                    <strong>@Model.milestone.title</strong>
                }
                else
                {
                    <strong>No Milestone</strong>
                }
            </div>
            <div class="col-md-4 text-right">
                created by <strong>@@@Model.user.login</strong>
            </div>
        </div>
    </div>
</div>