@using TimeAgo

@model DesignBoard.Model.Item

<div class="panel panel-default @(Model.IsOld ? "old" : "") @(Model.IsInactive ? "inactive" : "")">
    <div class="panel-heading">
        <strong>@Model.title</strong> (<a href="@Model.html_url">link</a>)
    </div>
    <div class="panel-body">
        <div>opened @Model.created_at.ToLocalTime().TimeAgo()</div>
        <div>updated @Model.updated_at.ToLocalTime().TimeAgo()</div>
    </div>
</div>