@using DesignBoard.Model
@using TimeAgo
@model SearchResults

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Backlog (@Model.items.Length)</h2>
            @foreach (var g in Model.items.GroupBy(g => g.repo).OrderBy(g => g.Key.name))
            {
                <h2>@g.Key.name (<a href="@g.Key.html_url">link</a>) (@g.Count())</h2>
                @foreach (var item in g.OrderBy(i => i.created_at))
                {
                    await Html.RenderPartialAsync("_DesignItemPartial", item);
                }
            }
        </div>
        <div class="col-md-4">
            <h2>In Design</h2>
            @foreach (var g in Model.items.Where(i=>i.labels.Any(l=> l.name == "design:inprogress")).GroupBy(g => g.repo).OrderBy(g => g.Key.name))
            {
                <h2>@g.Key.name (<a href="@g.Key.html_url">link</a>) (@g.Count())</h2>
                @foreach (var item in g.OrderBy(i => i.created_at))
                {
                    await Html.RenderPartialAsync("_DesignItemPartial", item);
                }
            }
        </div>
        <div class="col-md-4">
            <h2>Documenting/ItemCreation</h2>
        </div>
    </div>
</div>